

section.limit-width {
  width: 100%;
  max-width: 1024px;
  margin: auto;
}


/* Extending Vuetify main styles */

main.v-main {
  overflow: hidden;
  > div {
    max-width: 1024px;
    width: 100%;
    margin: 50px auto; 
  }
}

div.v-card {
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container {

  padding: 1rem 2rem  !important;
  @media only screen and (min-width: 1024px) {

    padding: 2rem 0 !important;
  }
}


header.v-toolbar {
  padding: 1rem 0rem;
  height: auto !important;

  > div.v-toolbar__content {
    height: auto !important;
    max-width: 1024px !important;
    width: 100% !important;
    margin: auto !important;
  }
}

/* Imports */
@import "_variables.scss";
@import "_typeography.scss";
@import "forms.scss";
@import "btns-and-icons.scss";

.v-card {
  margin-top: 3rem;
}

p.buttons {
  margin-top: 2rem;
}



[data-layout="eligibility"] {
  max-width: 600px;
  margin: 4rem 0;

  @media only screen and (max-width: 1024px) {
    max-width: 100%;
    margin: 2rem !important;
  }
}