@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


.v-application {

	.v-btn {
		background-color: #00818F;
		border-color: #00818F;


		&.primary {
			background-color: #00818F !important;
			border-color: #00818F !important;
		}
		&.secondary {
			background-color: #244C5A !important;
			border-color: #244C5A !important;
		}

		border-radius: 5px !important;
		text-align: center !important;
		padding: 1rem 2rem !important;

		> span.v-btn__content {
			font-family: 'Montserrat', Helvetica, Arial, sans-serif;
			font-weight: 500 !important;
			font-size: 16px !important;
			color: #FFFFFF !important;
			letter-spacing: -0.4px !important;
			text-transform: none !important;
			text-decoration: none !important;
		}

		&.v-btn--is-elevated {
			box-shadow: none;
		}
		&:hover  {
			background-color: #244C5A;
			border-color: #244C5A;
			cursor: pointer;
		}

		&.next {
			> &:after {
				font-family: FontAwesome;
				font-size: 22px;
				color: #FFFFFF;
				letter-spacing: 0;
				text-align: left;
			}
		}

		&.hollow {
			background-color: #fff !important;	
			border: solid 1px #244C5A !important;
			> span {
				color: #244C5A !important;
			}
		}

	}

}


div.v-banner {
  div.v-banner__wrapper {
    div.v-banner__content {
      > div.v-banner__icon {
        top: 0;
      }
      > div.v-banner__text {
        p {
          margin-bottom: 0 !important;
          margin-top: 5px !important;
        }
      }
    }
  }
}

div.buttons {
  display: flex;
  align-items: center;
  > div {
    width: 100%;
    &:nth-of-type(2) {
    	padding: 1rem;
    }
  }
}


span.tab {
	background: #eee;
	padding: 0.25rem 1rem;
	text-transform: uppercase;

	&.verified {
		background: #98FB98;
	}
	&.pending {
		background: #FFFFE0;
	}
	&.uploading {
		background: #D8BFD8;
	}
}

