


.v-application {

	.primary {
		background: #244C5A !important;
		border-color: #244C5A !important;
		
	}


	button.v-btn {
		background: #00818F !important;
		border-radius: 5px !important;
		text-align: center !important;
		padding: 1rem 2rem !important;
		text-decoration: none !important;

		> span.v-btn__content {
			font-family: 'Montserrat' !important;
			font-weight: 500 !important;
			font-size: 16px !important;
			color: #FFFFFF !important;
			letter-spacing: -0.4px !important;
			text-transform: none !important;
			text-decoration: none !important;
		}

		&:hover  {
			background: #244C5A;
			cursor: pointer;
		}

		&.next {
			> &:after {
				font-family: FontAwesome;
				font-size: 22px;
				color: #FFFFFF;
				letter-spacing: 0;
				text-align: left;
			}
		}
	}

}


div.v-banner {
  div.v-banner__wrapper {
    div.v-banner__content {
      > div.v-banner__icon {
        top: 0;
      }
      > div.v-banner__text {
        p {
          margin-bottom: 0 !important;
          margin-top: 5px !important;
        }
      }
    }
  }
}
