/* Extending Vuetify forms styles */





form.v-form {
  background: #F1F1F1;
  border-radius: 6px;
  padding: 2rem;

  fieldset {
    border: none;
  }

  > fieldset {
  
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    > legend {
      font-size: 2rem;

    }
    &.group {
      margin-top: 3rem;
      margin-bottom: 1rem; 
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
  
  div.v-input {
    > div.v-input__control {
      border: none !important;
      height: 75px;
      padding-top: 15px;

      > div.v-input__slot {
        
        &:before {
          border: none !important;
        }
        > div.v-text-field__slot {
          border: none !important;
          > label {
            transform: translateY(-36px)!important;
            font-family: Montserrat;
            font-weight: normal;
            font-size: 16px;
            color: #323232;
            letter-spacing: -0.3px;
            text-align: left;
            line-height: 26px;

          }
          > input[type=text] {
            background: #FFFFFF;
            border-radius: 3px;
            border: 1px solid #D4C7CF !important;
            padding: 0.5rem !important;
            max-height: auto !important;
          }
        }
      }
    }
  }
}

 .v-text-field .v-input__control .v-input__slot {
    min-height: auto !important;
    display: flex !important;
    align-items: center !important;
  }